<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="billMapper">

	<resultMap type="Bill" id="resultBill">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="bill_timestamp" property="bill_timestamp" />
		<result column="bill_price" property="bill_price" />
		<result column="bill_content" property="bill_content" />

		<result column="bill_category" property="bill_category" />
		<result column="bill_cardinfo" property="bill_cardinfo" />
		<result column="bill_storeinfo_name"
			property="bill_storeinfo_name" />
		<result column="bill_storeinfo_biznum"
			property="bill_storeinfo_biznum" />
		<result column="bill_storeinfo_tel"
			property="bill_storeinfo_tel" />
	</resultMap>



	<insert id="insertBill" parameterType="Bill">
		insert into bill(
		id,
		userid,
		bill_timestamp,
		bill_price,
		bill_content,
		bill_category,
		bill_cardinfo,
		bill_storeinfo_name,
		bill_storeinfo_biznum,
		bill_storeinfo_tel)
		values(
		default,
		#{userid},
		#{bill_timestamp},
		#{bill_price},
		#{bill_content},
		#{bill_category},
		#{bill_cardinfo},
		#{bill_storeinfo_name},
		#{bill_storeinfo_biznum},
		#{bill_storeinfo_tel})
	</insert>

	<select id="getListCountDay" parameterType="Map"
		resultType="_int">
		select count(*)
		from bill
		where userid = #{userid}
		<if test="date!= null and date.length() == 10 ">
			and to_char(bill_timestamp, 'yyyy mm dd') = #{ date }
		</if>
		<if test="date!= null and date.length() == 7 ">
			and to_char(bill_timestamp, 'yyyy mm') = #{ date }
		</if>
		<if test="date!= null and date.length() == 4 ">
			and to_char(bill_timestamp, 'yyyy') = #{ date }
		</if>
	</select>

	<select id="selectListCountSearch" parameterType="Map"
		resultType="_int">
		select count(*)
		from bill
		where userid = #{userid}
		<if test="date!= null and date.length() == 10 ">
			and to_char(bill_timestamp, 'yyyy mm dd') = #{ date }
		</if>
		<if test="date!= null and date.length() == 7 ">
			and to_char(bill_timestamp, 'yyyy mm') = #{ date }
		</if>
		<if test="date!= null and date.length() == 4 ">
			and to_char(bill_timestamp, 'yyyy') = #{ date }
		</if>
		<if test="type != null and type =='searchPrice'">
			and bill_price between #{p1} and #{p2}
		</if>
		<if test="type != null and type =='searchCategory'">
			and bill_category = #{category}
		</if>
		<if test="type != null and type =='searchDate'">
			and bill_timestamp between #{begin} and #{end}
		</if>
	</select>

	<select id="getTotalPrice" parameterType="Map" resultType="_int">
		select sum(bill_price)
		from bill
		where userid=#{userid}
		<if test="date!= null and date.length() == 10 ">
			and to_char(bill_timestamp, 'yyyy mm dd') = #{ date }
		</if>
		<if test="date!= null and date.length() == 7 ">
			and to_char(bill_timestamp, 'yyyy mm') = #{ date }
		</if>
		<if test="date!= null and date.length() == 4 ">
			and to_char(bill_timestamp, 'yyyy') = #{ date }
		</if>
	</select>

	<select id="selectList" parameterType="PagingBill"
		resultMap="resultBill">
		<![CDATA[
			SELECT *  
			FROM (SELECT ROWNUM RNUM, b.*
			       FROM (SELECT * FROM bill ]]>
			       where userid = #{userid}
		<if test="date!= null and date.length() == 10 ">
			and to_char(bill_timestamp, 'yyyy mm dd') = #{ date }
		</if>
		<if test="date!= null and date.length() == 7 ">
			and to_char(bill_timestamp, 'yyyy mm') = #{ date }
		</if>

		<![CDATA[	       ORDER BY BILL_TIMESTAMP ASC) b )  
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>

	</select>


	<select id="selectListSearch" parameterType="Map"
		resultMap="resultBill">
		<![CDATA[
			SELECT *  
			FROM (SELECT ROWNUM RNUM, b.*
			       FROM (SELECT * FROM bill ]]>
		where userid = #{userid}
		<if test="date!= null and date.length() == 10 ">
			and to_char(bill_timestamp, 'yyyy mm dd') = #{ date }
		</if>
		<if test="date!= null and date.length() == 7 ">
			and to_char(bill_timestamp, 'yyyy mm') = #{ date }
		</if>
		<if test="date!= null and date.length() == 4 ">
			and to_char(bill_timestamp, 'yyyy') = #{ date }
		</if>
		<if test="type != null and type =='searchPrice'">
			and bill_price between to_number(#{p1}) and
			to_number(#{p2})
		</if>
		<if test="type != null and type =='searchCategory'">
			and bill_category = #{category}
		</if>
		<if test="type != null and type =='searchDate'">
			and bill_timestamp between #{begin} and #{end}
		</if>
		<![CDATA[	       ORDER BY BILL_TIMESTAMP ASC) b )  
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>

	</select>

	<select id="selectBill" parameterType="_int" resultType="Bill">
		select *
		from bill where id = #{id}
	</select>

	<update id="updateBill" parameterType="Bill">
		update bill
		set
		bill_timestamp= #{bill_timestamp},
		bill_price= #{bill_price},
		bill_content= #{bill_content},
		bill_category= #{bill_category},
		bill_cardinfo= #{bill_cardinfo},
		bill_storeinfo_name=
		#{bill_storeinfo_name},
		bill_storeinfo_biznum=
		#{bill_storeinfo_biznum},
		bill_storeinfo_tel= #{bill_storeinfo_tel}
		where
		id = #{id}
	</update>

	<delete id="deleteBill" parameterType="_int">
		delete from bill
		where id =
		#{id}
	</delete>
	
	<select id="lastMultiUploadList" parameterType="Map" resultMap="resultBill">
	<![CDATA[
		select * from ( select *
                from bill
                where userid=#{ userid }
                order by id desc)
                where rownum <= #{count}
                ]]>
	</select>
</mapper>