<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chartMapper">


	<resultMap type="Chart" id="resultChartList">
		<result column="label" property="label" />
		<result column="sumPrice" property="sumPrice" />
	</resultMap>


	<select id="selectCurrentMonthList" parameterType="String"
		resultMap="resultChartList">
	select to_char(bill_timestamp, 'mm') as label , sum(bill_price) as sumPrice
	from bill 
	where userid = #{userid} and to_char(bill_timestamp, 'yyyy') = to_char(sysdate, 'yyyy')
	group by to_char(bill_timestamp, 'mm')
	order by label
	</select>

	<select id="selectCategoryList" parameterType="String" resultMap="resultChartList">
select bill_category label, sum(bill_price) sumPrice
from bill
where userid = #{userid}
group by bill_category
order by bill_category
	</select>




</mapper>