<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="questionMapper">

	<resultMap type="Question" id="resultQuestion" >
		<id column="q_no" property="q_no" />
		<result column="q_writer" property="q_writer" />
		<result column="q_title" property="q_title" />
		<result column="q_date" property="q_date" />
		<result column="q_content" property="q_content" />
		<result column="q_original_filename" property="q_original_filename" />
		<result column="q_rename_filename" property="q_rename_filename" />
		<result column="q_readcount" property="q_readcount" />
	</resultMap>

	<!--  리스트 전체 목록 보기  -->
	<select id="selectAll" resultMap="resultQuestion">
		select * 
		from question
	</select> 
	
	<!-- 조회수 1증가 -->
	<update id="addReadCount" parameterType="_int" >
		update question
		set q_readcount = q_readcount + 1
		where q_no = #{ q_no }
	</update>
	
	
	<!-- 번호로 상세보기  -->
	<select id="selectQuestion" parameterType="_int" resultMap="resultQuestion" >
		select * from question
		where q_no = #{ q_no }
	</select>
	

	
	<select id="getListCount" resultType="_int">
		select count(*) from question
	</select>
	<!-- 페이징 처리 -->
		<select id="selectList" parameterType="Paging" resultMap="resultQuestion">
		<![CDATA[
			SELECT *  
			FROM (SELECT ROWNUM RNUM, q_no, q_writer, 
						  q_title, q_date, q_content, q_original_filename, q_readcount
			       FROM (SELECT * FROM QUESTION 
			              ORDER BY q_no DESC))  
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	<!-- 원글 작성 -->
	
	<insert id="insertOrigin" parameterType="question">
		insert into question (q_writer, 
				q_title, q_date, q_content, 
				q_original_filename, 
				q_rename_filename,  q_readcount)
		values ( 
				#{q_writer}, #{q_title}, 
				sysdate, #{q_content},
				#{q_original_filename}, 
				#{q_rename_filename}, 0)
	</insert>
	
	<!-- 원글 수정용  -->
	<update id="updateOrigin" parameterType="question">
		update question
		set q_title = #{q_title}, 
			q_content = #{q_content}
			<if test="q_original_filename != null">
				, 
				q_original_filename = #{q_original_filename},
				q_rename_filename = #{q_rename_filename}
			</if>
			<if test="q_rename_filename == null">
				, 
				q_original_filename = null,
				q_rename_filename = null
			</if>
		where q_no = #{ q_no }
	</update>
	
	<!-- 원글 삭제용 -->
	
		<delete id="deletequestion" parameterType="question">
		delete from question
			where q_no = #{q_no}
	</delete>
	
	
	<!-- 검색제목 -->
		<select id="searchTitle" resultMap="resultQuestion" parameterType="string">
		select * from question
		where q_title like '%' || #{ keyword } || '%'
		order by q_no desc
	</select>
	
	<!-- 검색작성자 -->
	<select id="searchWriter" resultMap="resultQuestion" parameterType="string">
		select * from question
		where q_writer like '%' || #{ keyword } || '%'
		order by q_no desc
	</select>
	
	<!-- 검색 날짜 -->
	<select id="searchDate" resultMap="resultQuestion" parameterType="SearchDate">
		select * from question
		where q_date between #{ begin } and #{ end }
		order by q_no desc
	</select>
	
	 


</mapper>

